<div class="mdl-layout__tab-panel is-active page-max-width mdl-grid">
  <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp white-bg">
    <header class="mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-cell--middle card-header-image">
      <%= image_tag("logo.png", width: "90%") %>
    </header>
    <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
      <div class="mdl-card__title">
        <h3 class="mdl-card__title-text">About</h3>
      </div>
      <div class="mdl-card__supporting-text">
        <p>
          English text explaining Ludus
        </p>
      </div>
    </div>
  </section>

  <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
    <div class="mdl-card mdl-cell mdl-cell--12-col">
      <div class="mdl-card__title">
        <h3 class="mdl-card__title-text">Details</h3>
      </div>
      <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
        <ul class="demo-list-three mdl-list">
          <li class="mdl-list__item mdl-list__item--three-line">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-avatar">apps</i>
              <span>FLOSS Apps</span>
              <span class="mdl-list__item-text-body">
                Ludus' infrastructure provides a set of FLOSS Apps
                for Ludus members which are useful for supporting multiple
                activities, such as developing and writing.
              </span>
            </span>
          </li>
          <li class="mdl-list__item mdl-list__item--three-line">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons  mdl-list__item-avatar">article</i>
              <span>Articles and News</span>
              <span class="mdl-list__item-text-body">
                The Ludus website gathers contents, news, and other materials
                regarding software engineering, FLOSS, and privacy.
              </span>
            </span>
          </li>
          <li class="mdl-list__item mdl-list__item--three-line">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons  mdl-list__item-avatar">play_arrow</i>
              <span>Ludus Podcasts</span>
              <span class="mdl-list__item-text-body">
                We have a podcast with monthly  episodes in which we talk about
                software engineering and technologies in the FLOSS world, as
                well as we interviewing important people in the FLOSS community.
              </span>
            </span>
          </li>
        </ul>
      </div>
    </div>
  </section>
</div>
