<div class="mdl-layout__tab-panel is-active">
  <section class="section--center mdl-grid page-max-width mdl-grid--no-spacing mdl-shadow--2dp white-bg">
    <header class="mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-cell--middle card-header-image">
      <%= image_tag("logo.png", width: "90%") %>
    </header>
    <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
      <div class="mdl-card__title">
        <h3 class="mdl-card__title-text">Sobre</h3>
      </div>
      <div class="mdl-card__supporting-text">
        <p>
          Texto em português explicando o Ludus
        </p>
      </div>
    </div>
  </section>

  <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
    <div class="mdl-card mdl-cell mdl-cell--12-col">
      <div class="mdl-card__title">
        <h3 class="mdl-card__title-text">Detalhes</h3>
      </div>
      <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
        <ul class="demo-list-three mdl-list">
          <li class="mdl-list__item mdl-list__item--three-line">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-avatar">apps</i>
              <span>Aplicações Livres</span>
              <span class="mdl-list__item-text-body">
                A infraestrutura do Ludus fornece um conjunto de aplicações
                livres e de código-aberto para seus membros que são úteis para
                diversas atividades, como desenvolver e escrever.
              </span>
            </span>
          </li>
          <li class="mdl-list__item mdl-list__item--three-line">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons  mdl-list__item-avatar">article</i>
              <span>Artigos e Notícias</span>
              <span class="mdl-list__item-text-body">
                Na página do Ludus você pode econtrar conteúdos, notícias,
                e outros materiais sobre engenharia de software, software livre,
                privacidade, entre outros.
              </span>
            </span>
          </li>
          <li class="mdl-list__item mdl-list__item--three-line">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons  mdl-list__item-avatar">play_arrow</i>
              <span>Podcast do Ludus</span>
              <span class="mdl-list__item-text-body">
                Nós temos um podcast com episódios mensais em que conversamos
                sobre diversos assuntos relacionados ao mundo do software livre
                e entrevistamos pessoas importantes da comunidade.
              </span>
            </span>
          </li>
        </ul>
      </div>
    </div>
  </section>
</div>
