/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

main {
  background: #F5F5F5;
}

section.section--center {
  margin-bottom: 30px;
}

.page-content {
  padding: 8px;
  padding-top: 20px;
}

.page-max-width {
  max-width: 900px;
  margin: auto;
}

.white-bg {
  background-color: white;
}

.card-header-image {
  text-align: center;
  height: 100%;

  img {
    max-width: 100%;
    max-height: 100%;
  }
}
