<div class="mdl-layout__tab-panel is-active">
  <section class="section--center mdl-grid page-max-width mdl-grid--no-spacing mdl-shadow--2dp white-bg">
    <header class="mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-cell--middle card-header-image">
      <%= image_tag("logo.png", width: "90%") %>
    </header>
    <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
      <div class="mdl-card__title">
        <h3 class="mdl-card__title-text"><%= current_page.title %></h3>
      </div>
      <div class="mdl-card__supporting-text">
        <%= content(:text).try(:html_safe) %>
      </div>
    </div>
  </section>
</div>
